
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1b1331 !important; 
    font-family:Georgia, 'Times New Roman', Times, serif
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #332955 !important;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(89, 0, 255) !important;
}

.navbar-toggler {
    border: none;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
}

.form-control {
    width: 250px;
    border-radius: 50px;
}

.btn-outline-success {
    border-radius: 50px;
}

/* Estilo do título e texto principal */


.text-left {
    text-align: left;
    font-size:xx-large;
	color: darkred;
}

/* Parágrafo */
p {
    font-size: 1.1rem;
    color: #6c757d;
    line-height: 1.6;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    
    .form-control {
        width: 200px;
    }
    
    h1 {
        font-size: 2rem;
		text-decoration: rgb(255, 255, 255);
    }
    
    p {
        font-size: 1rem;
    }
}